



<%# <h1>StaticPages#index</h1> %>

<div class="container-fluid anchor" id="headerarea">  

	<h1>Welcome to Bike Berlin</h1>
	<h3>Your source for used bikes in the capital.</h3>
</div>


<%# this is a way to comment in ruby %>
<%#= or this...  %>

<%#
<%= image_tag("VintageBicycle.jpg", class: "img-responsive myimage", size: "100x50", alt: "Old bicycle") %>



<div class="container-fluid anchor" id="contact">  
      <div class="contact" >
        <div class="landing">
          
        </div>
      </div>
</div>


