



<table>
  <tbody>
    <tr>
      <td><p>Your Bike the City account has been set up. Thank you!</p></td>
    </tr>
    <tr>
      <td><p>Thank you for signing up with Bike the City. Your account has been created with the following email address:</p></td>
      <td><p><%= @user.email %></p></td>
    </tr>
  </tbody>
</table>