



<div class="container-fluid">
  <div class="row">

   <%= render @products %>

  </div>
</div>

<br>

<div class="newprodlink">
  <p>
     <br>
    <%= link_to 'Create New Product', new_product_path %> 
  </p>
</div>

