// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1,
h2,
h3,
h4 {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h1 {
		color: #0063cc;
		font-family: Iowan Old Style;
		font-weight: bold;
		text-align: center;
		padding-top: 70px;
		font-size: 500%;
		
	}

h2 {
		color: #0063cc;
		font-family: Iowan Old Style;
		font-weight: bold;
		text-align: center;
		
		font-size: 150%;
		
	}

h3 {
		color: #a66c3f;
		font-family: Iowan Old Style;
		text-align: center;
		 
		 
	}

	 

h4 {
		color: #0063cc;
		font-family: Iowan Old Style;
		text-align: center;
		font-style: italic;
		 
	}

p  {
		color: #0063cc;
		font-family: Iowan Old Style;
		text-align: center;
		 
	}

.bikephoto {
	height: 200px;
	width: 250px;
	margin-top:  10%;
	margin-left: 0%;

	}

.prodborder {
    border-radius: 25px;
    border: 2px solid blue;
    padding: 20px; 
    width: 300px;
    height: 450px; 
    margin-top: 40px;
    margin-left:  auto;
    margin-right: auto;

}

.landing_page {
    
    margin-top: 100px;

}



.showeditdestroy {
     
    text-align: center;
    margin-bottom: 20px;

}

.newborder {
    border-radius: 25px;
    border: 2px solid blue;
    padding: 20px; 
    width: 300px;
    height: 450px; 
    margin-top: 40px;
    margin-left:  40px;
}


.produnderscore  {
    border-style: none;
    border-bottom: thick dotted #ff0000;
}

.newprodlink p {
	padding-left: 15px;
	font-size: 100%;
	text-align: left;
	 

}

.line p {
	padding-left: 15px;
	font-size: 100%;
	text-align: left;
	 

}

.showbackeditlink p {
	padding-left: 15px;
	font-size: 100%;
	text-align: left;
	color: #0063cc;

}

.show {
	border-radius: 25px;
     text-align: center;
     
}
.showborder {
    border-radius: 25px;
    border: 2px solid blue;
    padding: 20px; 
    width: 300px;
    height: 450px; 
    margin-top: 40px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}

.showphoto {
	height: 200px;
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;


	}

 



.field {
	padding-left: 15px;
	
}

.actions {
	padding-left: 15px;
	
}

#notice{
	text-align: left;
	padding-left: 15px;

}


th, td {
    padding: 15px;
    text-align: left;
	}

tr:nth-child(even)  {	
		padding: 8px;
		border-bottom: 1px solid #ddd;
		background-color: #f2f2f2;
		
	}
	

table  {
		width:100%;
		 
	}


.site-footer, .page-wrap:after {
  height: 142px; 
}

.site-footer {
  background: #ffe5cc;
  text-align: center;
}


.navbar-nav {
	text-transform: uppercase;
	color: yellow;
	margin-right: 3%;
	font-size: 20px;

}

.navbar-inverse .navbar-nav>li>a{
   clear: left;
   color: #ffe5cc;


}

.navbar-right {
   padding-left: 4%;

}


.searchform {
	 margin-left: 10px;
}

.projectName {
	text-transform: uppercase;
 

}

.projectName a {
	color: #ffe5cc;
	margin-left: 7%;
	font-size: 20px;
	list-style-type: none;
	padding-left: 1%; 
	margin-bottom: 0;
}

.projectName li {
	color: #ffe5cc;
	margin-left: 7%;
	font-size: 20px;
	list-style-type: none;
	padding-left: 1%; 
	margin-bottom: 0;
}


#headerarea{
/*Have the background cover the entire div section*/
	background: rgba( 	255, 229, 204, 0.9 );

}


.my-image {
	height: 1500px;
	width: 2900px;


}


.contactborder {
    border-radius: 25px;
    border: 2px solid green;
    padding: 20px; 
    width: 350px;
    height: 350px; 
    margin-top: 40px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}








