

  <div class="commentsreview">
    <% if signed_in? %>
    	<br>
      <div class="col-sm-6">
         <h4>Add a review:</h4>
         <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
        
            <p>
              
              <%= f.text_field :body, autocomplete: "off", autofocus: true, class: "form-control", placeholder: "Add comments here"  %>

            </p>
            <p>
              <%= f.label :rating %>:
               
              <div class="rating"></div>
            </p> 

            <br>
            <p>
              <%= f.submit "Submit", class:"btn btn-primary" %>
            </p>
       

         <% end %>
      </div>
    <% end %>

  </div>
