<h1>Edit Product</h1>



  
    <%= render 'form' %>
 

	<div class="showbackeditlink">
	  <p>
	    <%= link_to 'Show', @product %>
	    |
	    <%= link_to 'Back', products_path %>
	  </p>
	</div>


 
