<h1>Edit Product</h1>



  
    <%= render 'form' %>
 
	<br><br>
	<div class="showbackeditlink">
	  <p>
	    <%= link_to 'Show', @product %>
	    |
	    <%= link_to 'Back', products_path %>
	  </p>
	</div>

	<br><br><br><br>


 
